.srch{
    margin-top: 33px;
    margin-left: 200px;
    background-color: rgb(42, 36, 36);
    height: 100px;
    overflow: hidden;
    margin-top: -10px;
    position: fixed;
    top: 0;
    width: 100%; 

}
.container2{
    margin-top: -48px;
    margin-left: 720px;
}
.search{
    width: 600px;
    height: 50px;
    margin-left: 80px;
    background-color: rgb(88, 78, 78);
    font-size: 20px;
    /* border-color: rgb(88, 78, 78); */
    border: 5px;
    border-radius: 5px
}
.acticon{
    margin-left: 1050px;
    margin-top: -33px; 
    color: white;
 
}

